<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="container">
        <div id="main">
            <lable>name :</lable>
            <input type="text" id="name" name="name">
            <lable>Date of Birth :</lable>
            <input type="date" id="birthdate" name="birthdate">
            <lable>Photo Url :</lable>
            <input type="text" id="photoUrl" name="photo">
            <lable>Birthplace :</lable>
            <input type="text" id="birthplace" name="birthplace">
            <lable>Career :</lable>
            <textarea id="career" name="career"></textarea>
            <lable>Number of Matches :</lable>
            <input type="number" id="numOfMatch" name="numOfMatch">
            <lable>Score :</lable>
            <input type="number" id="score" name="score">
            <lable>Fifties :</lable>
            <input type="number" id="fifties" name="fifties">
            <lable>Centuries :</lable>
            <input type="number" id="centuries" name="centuries">
            <lable>Wickets :</lable>
            <input type="number" id="wickets" name="wicket">
            <lable>Averages :</lable>
            <input type="number" id="average" name="average">
            
            <button id="submit">submit</button>
        </div>
        <div id='second'>
            <input type="text" id="searchPlayer">
            <button id="search">Search</button>
        </div>

    </div>
    <div id="showInfo" style="display: none;">
        <div id="left">
            <div id="imageAndInfo">
                
            </div>
            <div>
                <button id="edit">Edit</button>
            </div>
        </div>
        
        <div id="right">
            <div id="personalInfo">

            </div>
            <div id="careerInfo">

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>